@use '../../../styled/utils' as *;
.inner {
    width: vw(1500px) !important;
    height: auto;
    margin: vw(120px) auto;

    .content1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: vw(50px);

        h2 {
            margin-top: (80px);
            font-size: vw(80px);
            font-weight: 700;
            border-bottom: 3px solid #000;

            span {
                font-size: vw(30px);
                font-weight: 500;
                color: #777777;
            }
        }
        .magazine21,
        .magazine22,
        .magazine23,
        .magazine24 {
            li {
                line-height: vw(30px);
                padding: vw(10px) 0;
                border-bottom: 1px solid #000;
                span {
                    font-size: 12px;
                    color: #777777;
                }
            }
        }
        h3 {
            font-size: vw(22px);
            font-weight: 600;
            padding: vw(10px) 0;
        }
        .day21,
        .day22,
        .day24 {
            width: vw(340px);
            height: vw(1300px);
            padding: vw(80px) 0;
            border-bottom: 1px solid #000;
        }

        .day23 {
            width: vw(400px);
            height: vw(1300px);
            padding: vw(80px) 0;
            border-bottom: 1px solid #000;
        }
    }
}
