@use '../../../../styled/utils/' as *;
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;600;700&display=swap');

#artist-i-img {
    position: relative;
    margin-bottom: vw(75);
    width: vw(1690);

    height: vw(400);
    img {
        width: vw(1690);

        height: vw(400);
        object-fit: cover;
    }
    .artist-info-title {
        position: absolute;
        left: vw(50);
        bottom: vw(50);
        h2 {
            @include font-26px-800();
            color: $fff;
        }
        h3 {
            @include font-90px-700();
            color: $fff;
            font-family: 'Bricolage Grotesque', 'pretendard';
        }
    }
}
