@use '../../../../styled/utils/' as *;
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;600;700&display=swap');

#artist-i-img {
    position: relative;
    margin-bottom: vw(75);
    p {
        img {
            width: vw(1690);
        }
    }
    .artist-info-title {
        position: absolute;
        left: vw(50);
        bottom: vw(50);
        h2 {
            @include font-26px-800();
            color: $fff;
        }
        h3 {
            @include font-90px-700();
            color: $fff;
            font-family: 'Bricolage Grotesque', 'pretendard';
        }
    }
    .follow-btn {
        display: flex;
        justify-content: left; // justify-content: center;랑 중복됨 → left로 정리
        align-items: center;
        gap: vw(10);
        color: #fff;
        button {
            width: vw(120);
            height: vw(37);
            color: #fff;
            font-family: Pretendard;
            font-size: vw(16);
            font-weight: 600;
            line-height: 130%;
            border-radius: vw(50);
            border: vw(2) solid #fff;
            cursor: pointer;
            transition: all 0.3s ease; // hover 애니메이션 추가

            &:hover {
                opacity: 0.8; // 마우스 올리면 살짝 투명
            }

            &.following {
                background: #fff;
                color: #000;

                &:hover {
                    background: #fff;
                    color: #000;
                }
            }
        }
    }
}

@include tablet {
    #artist-i-img {
        margin-bottom: vw(11, 393);
        p {
            img {
                width: 100%;
                height: vw(160, 393);
                object-fit: cover;
                object-position: center;
            }
        }
        .artist-info-title {
            left: vw(24, 393);
            bottom: vw(20, 393);
            h2 {
                @include m-font-12px-800();
                color: $fff;
            }
            h3 {
                @include m-font-32px-800();
                color: $fff;
                font-family: 'Bricolage Grotesque', 'pretendard';
            }
        }
    }
}
