@use '../../../styled/utils' as *;

//프로필
.profile-box {
    border-top: vw(1) solid rgba(119, 119, 119, 0.5);
    display: flex;
    width: vw(1500);
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin-bottom: vw(60);

    .imgbox {
        display: flex;
        padding: vw(20) vw(50);
        flex-direction: column;
        align-items: center;
        width: vw(300);
        height: vw(300);
        gap: vw(20);
        border-right: vw(1) solid rgba(119, 119, 119, 0.5);

        img {
            width: vw(300);
            height: vw(300);
            object-fit: contain;
            border-radius: vw(500);
        }
    }
    .textbox {
        display: flex;
        align-items: center;
        width: vw(341);
        flex-direction: column;
        align-items: flex-start;
        gap: vw(22);
        margin-left: vw(48);
        h2 {
            color: var(--main1, #6680ff);
            font-size: vw(20);
            font-weight: 700;
            line-height: 130%;
        }
        .profile-info {
            display: flex;
            align-items: center;
            gap: vw(20);
            align-self: stretch;
            .profile-info1 {
                display: flex;
                width: vw(76);
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: vw(12);
                h3 {
                    color: #000;
                    font-size: vw(20);
                    font-weight: 500;
                    line-height: 130%;
                }
            }
            .profile-info2 {
                display: flex;
                width: vw(243);
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: vw(12);
                h3 {
                    color: #000;
                    font-size: vw(20);
                    font-weight: 500;
                    line-height: 130%;
                }
            }
        }
    }
}
