@use '../../../../styled/utils/' as *;
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;600;700&display=swap');

#genre-category {
    margin-bottom: vw(75);
    h2 {
        @include font-30px-600();
        display: flex;
        align-items: center;
        line-height: 1;
        margin-bottom: vw(20);
        img {
            width: vw(40px);
            height: vw(40px);
            margin-left: vw(14px);
            object-fit: cover;
            vertical-align: top;
        }
    }
    .genre-sub {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            margin-bottom: vw(30);
            .genre-sub-img {
                position: relative;
                display: inline-block;
                overflow: hidden;
                transition: transform 0.3s;
                img {
                    border-radius: vw(10);
                    width: vw(337);
                    height: vw(192.869);
                    display: block;
                    object-fit: cover;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.4);
                    border-radius: vw(10);
                    opacity: 0;
                    transition: opacity 0.3s; // <-- 여기!
                }
                span {
                    font-family: 'Bricolage Grotesque', 'pretendard';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: opacity 0.3s;
                    color: $fff !important;
                    z-index: 1;
                    @include font-40px-800();
                }
                &:hover {
                    transform: translateY(vw(20));
                    &::after {
                        opacity: 1;
                    }
                    span {
                        opacity: 1;
                    }
                }
            }
            p {
                text-align: center;
                @include font-20px-600();
                margin-top: vw(16);
                transition: opacity 0.3s;
            }
            &:hover {
                p {
                    opacity: 0;
                }
                .genre-sub-img {
                    transform: translateY(vw(20));
                    span {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
