@use '../../../../styled/utils' as *;

.btn_ul {
    @include display_center();
    gap: vw(20);
    margin-bottom: vw(40);
    li {
        padding: vw(6) vw(20);
        @include font-14px-400();
        border-radius: vw(50px);
        border: 1px solid #d395f6;
        color: $m_color2;
        cursor: pointer;
        &:hover {
            background-color: $m_color2;
            color: #fff;
        }
    }
}
