@use '../../../styled/utils' as *;

.goods_cart {
    width: vw(600);
    height: vw(804);
    box-sizing: border-box;
    padding: vw(60) 0;
    border-radius: vw(20);
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 0 10px 0 rgba(0, 0, 0, 0.25);

    .cart_inner {
        width: vw(500);
        margin: auto;
        display: flex;
        flex-direction: column;
        h2 {
            @include font-24px-600();
            text-align: left;
        }
        //  .h2
        ////////////////////////////////
        .con {
            margin-top: vw(10);
            @include display_al();
            gap: vw(20);
            ul {
                @include display_al();
                gap: vw(10);
                margin-bottom: vw(20);
                li {
                    @include font-14px-400();
                    position: relative;
                    &:first-child {
                        &::after {
                            content: '';
                            @include p_center_top();
                            right: vw(-6);
                            height: vw(10);
                            width: vw(1);
                            background-color: $fc;
                        }
                    }
                }
            }
        }
        //  .con
        ////////////////////////////////
        .price_cart {
            @include font-24px-700();
        }
        //  .price_cart
        ////////////////////////////////
        .cart_form_chk {
            width: vw(500);
            height: vw(138);
            padding: vw(10) 0;
            box-sizing: border-box;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: vw(8);
            margin-bottom: vw(20);
            .form_con {
                @include display_al();
                gap: vw(18);
                input[type='checkbox'] {
                    display: none;
                }
                input + label {
                    display: inline-block;
                    @include bg();
                    background-image: url(/images/icons/chk_mini.png);
                    width: vw(20);
                    height: vw(20);
                    cursor: pointer;
                }
                input:checked + label {
                    background-image: url(/images/icons/chk_mini_on.png);
                    display: block;
                    width: vw(20);
                    height: vw(20);
                }
                span {
                    @include font-14px-400();
                }
            }
            .all_chk {
                margin-top: vw(10);
                gap: vw(20);
                span {
                    @include font-16px-600();
                }
                input[type='checkbox'] + label {
                    width: vw(20);
                    height: vw(20);

                    cursor: pointer;
                }
                input[type='checkbox']:checked + label {
                    width: vw(20);
                    height: vw(20);
                }
            }
        }
        //  .cart_form_chk
        ////////////////////////////////
        .updown_price {
            width: vw(500);
            height: vw(126);
            box-sizing: border-box;
            padding: vw(16) vw(20);
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.6);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(2px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: vw(20);
            strong {
                @include font-14px-700();
            }
            .updown_btn {
                @include display_al();
                gap: vw(20);

                .btn {
                    width: vw(30);
                    height: vw(30);
                    border-radius: 100%;
                    @include display_center();
                    border: 1px solid rgba(0, 0, 0, 0.6);
                    i {
                        font-size: vw(14);
                        @include display_center();
                        color: rgba(0, 0, 0, 0.6);
                    }
                }
                .up {
                    margin-right: vw(248);
                }
                span {
                    @include font-20px-400();
                }
            }
        }
        //  .updown_price
        ////////////////////////////////
        .total_price_detail {
            @include display_al();
            justify-content: space-between;
            margin-bottom: vw(40);
            span {
                @include font-14px-400();
            }
            strong {
                @include font-18px-700();
            }
        }
        // .total_price_detail
        ////////////////////////////////
        .total_price_detail_all {
            @include display_al();
            justify-content: space-between;
            margin-bottom: vw(40);
            span {
                @include font-20px-500();
            }
            strong {
                @include font-26px-700();
                color: $m_color1;
            }
        }
        // .total_price_detail_all
        ////////////////////////////////
        .pay_btns {
            width: vw(500);
            height: vw(110);
            box-sizing: border-box;
            padding-top: vw(20);
            @include display_al();
            flex-direction: column;
            gap: vw(10);
            border-top: 0.5px solid rgba(0, 0, 0, 0.7);
            .purchase {
                width: vw(380);
                height: vw(40);
                @include display_center();
                border-radius: vw(50);
                background-color: $m_color1;
                span {
                    @include font-18px-700();
                    color: #fff;
                }
            }
            .wish_list {
                @include display_al();
                gap: vw(20);
                .btn0 {
                    @include display_center();
                    width: vw(180);
                    height: vw(40);
                    border-radius: vw(50);
                    border: 1px solid $m_color2;
                    span {
                        @include font-16px-600();
                        color: $m_color2;
                    }
                }
            }
        }
        // pay_btns
        ////////////////////////////////
    }
    //  .cart_inner
    ////////////////////////////////
}
