@use '../../../../styled/utils/' as *;
#artist-i-top {
    margin-bottom: vw(75);
    display: flex;
    gap: vw(100);
    .artist-i-top-left {
        width: 30vw;
    }
    .artist-i-top-right {
        width: 70vw;
    }
}
