@use '../../../../styled/utils' as *;

.main_album_list {
    width: 100%;
    @include display_center();
    gap: vw(60px);
    .swiper {
        width: 100%;
        height: 100%;
        overflow: visible !important;
        .swiper-wrapper {
            gap: vw(20);
            .swiper-slide {
                font-size: 18px;
                width: 15.625vw !important;
                height: vw(402px);
                display: flex;
                justify-content: start;
                overflow: visible;
            }
        }
    }
    .div_con {
        width: 15.625vw;
        height: vw(402px);
        background: #fff;
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
        overflow: hidden;
        position: relative;
        cursor: pointer;

        .album_pic {
            width: 15.625vw;
            height: vw(300px);
            @include display_center();
            transition: 1s;
            position: relative;
            .pic_pp {
                width: vw(300);
                height: vw(300);
                position: relative;
                overflow: hidden;
                @include display_center();
                img {
                    width: vw(300);
                    transition: 0.3s;
                }
            }
        }
        &.activee {
            .album_pic {
                .pic_pp {
                    &::after {
                        content: '';
                        background-image: url('/images/streaming/mv-pause-icon.png');
                        @include bg();
                        width: vw(50);
                        height: vw(50);
                        @include p_center_center();
                        z-index: 3;
                    }
                    &::before {
                        content: '';
                        background-color: rgba(0, 0, 0, 0.4);
                        width: vw(50);
                        height: vw(50);
                        @include p_center_center();
                        border-radius: 100%;
                        display: block;
                        z-index: 2;
                    }
                    img {
                        width: vw(230);
                        height: vw(230); // 정사각형으로 만들어 원형 효과
                        border-radius: 100%;
                        animation: spinn 3s linear infinite;
                    }
                }
                @keyframes spinn {
                    from {
                        transform: rotate(0deg);
                    }
                    to {
                        transform: rotate(360deg);
                    }
                }
            }
        }

        p {
            box-sizing: border-box;
            position: absolute;
            @include display_al();
            flex-direction: column;
            width: 15.625vw;
            height: vw(120px);
            background-color: $fff;
            left: 0;
            bottom: 0;
            padding-top: vw(56px);
            strong {
                @include font-16px-700();
            }
            span {
                @include font-14px-700();
            }
        }
        .artist_pic {
            @include p_center_left();
            top: vw(222px);
            width: 5.2083vw;
            height: vw(100px);
            background: linear-gradient(180deg, #d395f6 0%, #6680ff 100%);
            overflow: hidden;
            border-radius: 100%;
            z-index: 10;
            @include display_center();
            .pic2 {
                width: 4.6875vw;
                border-radius: 100%;
                height: vw(90px);
                overflow: hidden;
                @include display_center();
            }
            img {
                width: 5.2083vw;
                border-radius: 100%;
            }
        }
    }
}
// @use '../../../../styled/utils' as *;

// .main_album_list {
//     width: 100%;
//     @include display_center();
//     gap: 3.125vw;
//     li {
//         width: 15.625vw;
//         height: 20.9375vw;
//         background: #fff;
//         box-shadow: 0.2083vw 0.2083vw 0.2083vw 0 rgba(0, 0, 0, 0.25);
//         overflow: hidden;
//         position: relative;
//         .album_pic {
//             width: 15.625vw;
//             height: 15.625vw;
//             img {
//                 width: 15.625vw;
//             }
//         }
//         p {
//             box-sizing: border-box;
//             position: absolute;
//             @include display_al();
//             flex-direction: column;
//             width: 15.625vw;
//             height: 6.25vw;
//             background-color: $fff;
//             left: 0;
//             bottom: 0;
//             padding-top: 2.9167vw;
//             strong {
//                 // @include font-0.8333vw-700();
//             }
//             span {
//                 // @include font-0.7292vw-700();
//             }
//         }
//         .artist_pic {
//             @include p_center_left();
//             top: 11.5625vw;
//             width: 5.2083vw;
//             height: 5.2083vw;
//             background: linear-gradient(180deg, #d395f6 0%, #6680ff 100%);
//             overflow: hidden;
//             border-radius: 100%;
//             z-index: 10;
//             @include display_center();
//             .pic2 {
//                 width: 4.6875vw;
//                 border-radius: 100%;
//                 height: 4.6875vw;
//                 overflow: hidden;
//                 @include display_center();
//             }
//             img {
//                 width: 5.2083vw;
//                 border-radius: 100%;
//             }
//         }
//     }
// }
