@use '../../../styled/utils' as *;
#nav {
    width: 100%;
    height: vw(65);
    position: absolute;
    left: 0;
    bottom: 0;
    @include display_al();
    justify-content: space-between;
    p {
        cursor: pointer;
        height: vw(65);
        @include font-18px-400();
        @include display_center();
    }
}
