@use '../../styled/utils' as *;

.bottom-music-player {
    width: vw(1920px);
    height: vw(100px);
    background: $m_bg;
    padding: vw(20px) vw(60px);
    box-sizing: border-box;
    @include display_al;
    @include display_between;
    .left-close {
        .close {
            img {
                width: vw(36px);
                height: vw(36px);
            }
        }
    }
    .center-controller {
        @include display_center;
        gap: vw(20px);
        > img {
            width: vw(30px);
            height: vw(30px);
        }
    }
    .center-bar {
        @include display_between;
        align-items: center;
        .current-time {
            @include font-16px-400;
            color: $grey555;
        }
        .whole-play-time {
            @include font-16px-400;
            color: $grey555;
        }
        .progress-container {
            padding: 0 vw(20px);
            position: relative;

            .progress-bar {
                width: vw(840px);
                height: vw(3px);
                background: $fff;
            }
            .progress-handle {
                position: absolute;
                left: vw(20px) _;
                top: 0;
                width: vw(180px);
                height: vw(3px);
                background: $grey555;
            }
        }
    }
}

.music_modal {
    width: vw(330);
    height: vw(400);
    position: fixed;
    right: vw(14);
    bottom: vw(14);
    background-color: $m_bg;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.15);
    border-radius: vw(20px);
    @include display_al();
    flex-direction: column;
    .album_pic {
        margin-top: vw(10);
        width: vw(310);
        height: vw(310);
        overflow: hidden;
        border-radius: vw(10);
        margin-bottom: vw(10);
        img {
            width: vw(310);
        }
        p {
            @include p_center_left();
            top: vw(247);
            text-align: center;
            color: $fff;
        }
        strong {
            display: block;
            @include font-18px-700();
            margin-bottom: vw(12);
        }
        span {
            @include font-14px-500();
        }
    }
    .player_controll {
        @include display_center();
        gap: vw(20);
        .btn {
            @include display_center();
            width: vw(30);
            img {
                width: vw(30);
            }
        }
        .play {
            width: vw(60);
            img {
                width: vw(60);
            }
        }
    }
}
