@use '../../../../styled/utils' as *;

.ive_list {
    display: flex;
    width: vw(800);
    height: vw(332);
    li {
        width: vw(400);
        overflow: hidden;
        img {
            width: 100%;
        }
        &.show {
            display: none;
        }
    }
}
