@use '../../../../styled/utils' as *;

.ive_list {
    display: flex;
    width: vw(800);
    height: vw(332);

    gap: 30px;
    li.item-1 {
        width: 60%;
        height: auto;
    }
    li.item-2 {
    
        width: 40%;
        height: auto;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@include tablet {
    .ive_list {
        @include display_center();
        width: vw(393, 393);
        height: vw(200, 393);
        li {
            width: 50%;
            overflow: hidden;
            img {
                width: 100%;
            }
            &.show {
                display: none;
            }
        }
    }
}
