@use '../../../../styled/utils' as *;

.popup_right_list {
    @include display_ju();
    align-items: end;
    gap: vw(20);
    li {
        @include display_al();
        flex-direction: column;
        width: vw(200);

        gap: vw(20);
        .pic {
            width: vw(200);
            height: vw(260);
            overflow: hidden;
            @include display_center();
            img {
                width: vw(400);
            }
        }
        strong {
            margin-top: vw(10);
            display: block;
            @include font-18px-600();
            width: vw(160);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        span {
            display: block;
            @include font-16px-700();
            width: vw(160);
            opacity: 0.6;
            display: -webkit-box;
            word-wrap: break-word;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
@include tablet {
    .popup_right_list {
        width: vw(353, 393);
        @include display_ju();
        align-items: end;
        gap: vw(10, 393);
        .lili2 {
            @include display_al();
            flex-direction: column;
            width: vw(109, 393);
            height: vw(215, 393);
            gap: vw(20);
            .pic {
                width: vw(109, 393);
                height: vw(139, 393);
                overflow: hidden;
                @include display_center();
                img {
                    width: vw(210, 393);
                }
            }
            strong {
                margin-top: vw(10, 393);
                display: block;
                @include font-18px-600();
                width: vw(100, 393);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            span {
                display: block;
                @include font-16px-700();
                width: vw(100, 393);
                opacity: 0.6;
                display: -webkit-box;
                word-wrap: break-word;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}
