@use '../../styled/utils' as *;

.inner {
    .search {
        padding-top: vw(60);
        display: flex;
        width: vw(1500);
        flex-direction: column;
        align-items: flex-start;
        gap: vw(60);
        .toptext {
            h2 {
                color: var(--main1, #6680ff);
                font-size: vw(30);
                font-style: normal;
                font-weight: 600;
                line-height: 130%;
            }
        }
        .middletext {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: vw(40);
            h2 {
                color: #000;
                font-size: vw(20);
                font-weight: 600;
                line-height: 130%; /* 26px */
            }
        }
        .profile {
            display: flex;
            width: vw(1500);
            justify-content: center;
            align-items: center;
            border-top: vw(1) solid rgba(119, 119, 119, 0.47);
            .profileAll {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: vw(48);
                .profileImg {
                    display: flex;
                    padding: vw(20) vw(50);
                    border-right: vw(1) solid rgba(119, 119, 119, 0.47);
                    gap: vw(20);
                    img {
                        width: vw(300);
                        height: vw(300);
                        border-radius: vw(500);
                        object-fit: contain;
                    }
                }
                .profile-text {
                    display: flex;
                    width: 341px;
                    flex-direction: column;
                    align-items: flex-start;

                    h2 {
                        align-self: stretch;
                        color: var(--main1, #6680ff);
                        font-family: Pretendard;
                        font-size: vw(20);
                        font-style: normal;
                        font-weight: 700;
                        line-height: 130%; /* 26px */
                        margin-bottom: vw(22);
                    }
                    h3 {
                        width: vw(341);
                        display: flex;
                        justify-content: space-between;
                        color: #000;
                        font-size: vw(20);
                        font-weight: 500;
                        line-height: 130%;
                        margin-bottom: vw(12);
                        span {
                            width: vw(243);
                            color: #000;
                            font-size: vw(20);
                            font-weight: 500;
                            line-height: 130%; /* 26px */
                        }
                    }
                }
            }
        }
        .search_middle {
            padding-top: vw(60);
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            align-self: stretch;
            .middle_title {
                width: vw(1500);
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
                h2 {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    gap: vw(40);
                    color: #000;
                    font-size: vw(20);
                    font-style: normal;
                    font-weight: 600;
                    line-height: 130%; /* 26px */
                    span {
                        color: #000;
                        font-size: vw(20);
                        font-style: normal;
                        font-weight: 600;
                        line-height: 130%; /* 26px */
                    }
                }
            }
        }
        .listTable {
            height: 561 (vw);
            display: flex;
            flex-direction: column;
            .listtext {
                margin-top: vw(40);
                margin-left: vw(77);
                width: vw(1500);
                display: flex;
                padding: 12px 0;
                align-items: center;
                gap: 16px;
                align-self: stretch;
                h2 {
                    display: flex;
                    width: vw(400);
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: vw(4);
                    flex-shrink: 0;
                    color: #777;
                    font-size: vw(14);
                    font-weight: 400;
                }
                h3 {
                    width: vw(200);
                    color: #777;
                    font-size: vw(14);
                    font-weight: 400;
                    margin-bottom: 0;
                }
                h4 {
                    width: vw(200);
                    overflow: hidden;
                    color: #777;
                    font-size: vw(14);
                    font-weight: 400;
                }
                h5 {
                    width: vw(200);
                    overflow: hidden;
                    color: #777;
                    font-size: vw(14);
                    font-weight: 400;
                }
                .list {
                    width: vw(143);
                    padding-left: vw(114);
                    display: flex;
                    align-items: center;
                    gap: vw(16);
                    p {
                        color: #777;
                        font-size: vw(14);
                        font-weight: 400;
                    }
                }
            }
            .middleItem {
                width: vw(1500);
                height: vw(60);
                display: flex;
                padding: vw(14) 0;
                align-items: center;
                justify-content: center;
                gap: vw(16);
                align-self: stretch;
                border-top: vw(1) solid #d9d9d9;
                border-bottom: vw(1) solid #d9d9d9;
                .SearchMusic {
                    display: flex;
                    width: vw(1500);
                    align-items: center;
                    gap: vw(16);
                    img {
                        width: vw(60);
                        height: vw(60);
                    }
                    .Musictitle {
                        display: flex;
                        width: vw(400);
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        margin-right: vw(16);
                        flex-shrink: 0;
                        h2 {
                            color: #000;
                            font-size: vw(16);
                            font-weight: 400;
                        }
                        h3 {
                            color: #777;
                            font-size: vw(14);
                            font-weight: 400;
                            margin-bottom: 0;
                        }
                    }
                    .articttitle {
                        width: vw(200);

                        h2 {
                            color: #000;
                            font-size: vw(16);
                            font-weight: 400;
                        }
                    }
                    .playtime {
                        width: vw(200);

                        h2 {
                            color: #000;
                            font-size: vw(16);
                            font-weight: 400;
                        }
                    }
                    .Released {
                        width: vw(200);
                        margin-right: vw(120);
                        h2 {
                            color: #000;
                            font-size: vw(16);
                            font-weight: 400;
                        }
                    }
                    .icon {
                        display: flex;
                        width: vw(144);
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;
                        img {
                            margin-right: vw(30);
                            width: vw(24);
                            height: vw(24);
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}
