@use '../../../../../styled/utils/' as *;
#artist-i-top-intro {
    h2 {
        @include font-34px-600();
        margin-bottom: vw(30);
    }
    .artist-text {
        height: auto;
        //display: flex;
        //flex-direction: column;
        //justify-content: space-between;
        .artist-intro {
            color: $grey777;
            line-height: 1.6;
            margin-bottom: vw(50);
        }
        .artist-desc {
            word-break: keep-all;
            color: $grey333;
            line-height: 1.6;
            color: $grey333;
        }
    }
}

@include tablet {
    #artist-i-top-intro {
        margin-bottom: vw(40, 393);
        h2 {
            display: none;
        }
        .artist-text {
            .artist-intro {
                @include m-font-12px-400();
                color: $grey777;
                margin-bottom: vw(20, 393);
            }
            .artist-desc {
                @include m-font-12px-500();
            }
        }
    }
}
