@use '../../../../styled/utils' as *;

.artist_list_main {
    @include display_center();

    li {
        width: vw(180);
        height: vw(184);
        @include display_al();
        flex-direction: column;
        gap: vw(8);
        strong {
            display: block;
            margin-top: vw(12);
            @include font-14px-500();
            font-weight: 600;
        }
        span {
            @include font-14px-500();
        }
        .pic {
            width: vw(120);
            height: vw(120);
            overflow: hidden;
            @include display_center();
            border-radius: 100%;
            img {
                width: vw(120);
            }
        }
    }
}
@include mobile {
}
