@use './utils' as *;
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 400;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
html,
body {
    font-size: 16px;
}
body {
    margin-top: vw(136);
    @include font-16px-400();
    font-family: 'Pretendard';
    overflow-x: hidden;
}
.inner {
    width: vw(1200);
    position: relative;
}
#main {
    .inner {
        width: 1500px;
        position: relative;
        margin: auto;
    }
}
@include mobile {
    #main {
        .inner {
            width: vw(560, 600);
            position: relative;
            margin: auto;
        }
    }
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
ol,
ul,
li {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
    outline: none;
}
a {
    text-decoration: none;
    color: $fc;
}
.toast_custom_div {
    width: vw(380);
    height: vw(80);
    @include display_center();
    @include font-16px-700();
    color: #777;
    border-radius: vw(20);
}
.custom-swal-popup {
    width: vw(380);
    height: vw(160);
    @include display_al();
    flex-direction: column;
    border-radius: vw(20);
}
.swal2-actions {
    margin: 0;

    .swal2-confirm {
        width: vw(260);
        height: vw(40);
        box-sizing: border-box;
        @include display_center();
        margin-top: vw(0);
        background-color: $m_color1;
        border-radius: vw(50);
        line-height: 160%;
        color: #fff;
        &:hover {
            background-color: $m_color1;
        }
    }
}
.swal2-title {
    @include font-14px-500();
    color: #777;
}

.cancel-btn-with-icon {
    background-color: transparent;
    color: #000;
    width: vw(24);
    height: vw(24);
    @include display_center();
    @include font-18px-400();
    position: absolute;
    right: vw(10);
    top: vw(0);
    &::after {
        content: '';
        background-image: url(./images/main/close2.png);
        background-position: 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        width: vw(24);
        height: vw(24);
        @include p_center_center();
    }
    &:hover {
        background-color: transparent;
    }
}
