$m_color1: #6680ff;
$m_color2: #d395f6;
$s_color: #dcdcdc;
$fc: #000;
$fff: #fff;
$g777: #777;
$m_bg: #efefef;

$grey333: #333;
$grey555: #555;
$grey777: #777;
$grey999: #999;
$greyc0: #c0c0c0;
$dc: #dcdcdc;
