@use '../../../../styled/utils/' as *;

#artist-i-album {
    h2 {
        @include font-30px-600();
        display: flex;
        align-items: center;
        line-height: 1;
        margin-bottom: vw(20);
        img {
            width: vw(34);
            height: vw(34);
            margin-left: vw(20);
            margin-top: vw(3);
        }
    }
    .artist-i-cover {
        display: flex;
        flex-direction: row;
        gap: vw(35);
        .artist-i-album-item {
            img {
                border-radius: vw(20);
            }
        }
    }
}
