@use '../../../styled/utils' as *;

form {
    position: absolute;
    right: 0;
    top: 0;
    height: vw(40);
    width: 28.125vw;
    @include display_al();
    justify-content: space-between;
    label {
        @include font-16px-400();
        @include display_center();
        height: vw(40);
        width: 5.2083vw;
    }
    input {
        border: 1px solid $m_color2;
        border-radius: vw(50px);
        width: 20.8333vw;
        height: vw(40px);
        box-sizing: border-box;
        @include display_al();
        padding: vw(15) vw(64) vw(15) vw(30);
        &::placeholder {
            @include display_al();
            @include font-14px-700();
            vertical-align: middle;
        }
    }
    .search_header {
        @include p_center_top();
        left: vw(486);
        z-index: 10;
        i {
            @include display_center();
            color: $m_color2;
            font-size: vw(24px);
        }
    }
}
